.column{
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  width: 350px;
  alignment: center;
  border-radius: 5px;
  border-spacing: 5px;
  
  height: 350px; 
  }
  
  
  
  .row:after {
  content: "";
  display: table;
  clear: both;
  
  }